In [14]:
import pandas as pd #load libraries
from sklearn.tree import DecisionTreeClassifier #import Decision Tree Classifier
from sklearn.model_selection import train_test_split #import train_test_split function
from sklearn import metrics #import scikit-learn metrics module for accuracy calculation

In [6]:
pd.__version__ #melihat versi pandas saat ini

'1.2.4'

In [7]:
pd.read_csv("heart.csv") #membaca file heart dalam folder datasets

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
sehat=pd.read_csv("heart.csv")  #membuat variabel sehat dari dataframe heart
sehat

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [7]:
sehat.head(5) #mengecek lima baris paling atas

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [10]:
sehat.info() #mengecek nama kolom dalam varibel sehat

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
keter = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','target']
for lol in keter: #coerce for missing values
    sehat[lol]=pd.to_numeric(sehat[lol],errors='coerce')

In [9]:
sehat.dropna(inplace=True)

In [10]:
lol_tawa = ['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal'] #split dataset in features and target variable
X = sehat[lol_tawa] #features
y = sehat.target #variable target

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=1) #split dataset into training set and test set and also 70% training and 30% test

In [16]:
gan=DecisionTreeClassifier() #create decision tree calssifer object
gan=gan.fit(X_train,y_train) #train decision tree classifier
y_pred = gan.predict(X_test) #predict the response for test dataset

In [17]:
print("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.7142857142857143

In [18]:
!conda install python-graphviz -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - python-graphviz


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    graphviz-2.38              |       hfd603c8_2        29.3 MB
    python-graphviz-0.16       |     pyhd3eb1b0_1          20 KB
    ------------------------------------------------------------
                                           Total:        29.3 MB

The following NEW packages will be INSTALLED:

  graphviz           pkgs/main/win-64::graphviz-2.38-hfd603c8_2
  python-graphviz    pkgs/main/noarch::python-graphviz-0.16-pyhd3eb1b0_1



Downloading and Extracting Packages

graphviz-2.38        | 29.3 MB   |            |   0%
graphviz-2.38        | 29.3 MB   |            |   0%
graphviz-2.38        | 29.3 MB   | 2          |   3%
graphviz-2.38        | 29.3 MB   | 6          |   7%
graphviz-2.38        | 29.3 MB   | #          |  10%
graphviz-2.38        | 29.3 MB   | #4         |  14%
graphviz-2.38        | 29.3 MB   | #7         |  18%
graphviz-2.38        | 29.3 MB   | ##2        |  22%
graphviz-2.38        | 29.3 MB   | ##5        |  26%
graphviz-2.38        | 29.3 MB   | ##9        |  30%
graphviz-2.38        | 29.3 MB   | ###3       |  33%
graphviz-2.38        | 29.3 MB   | ###7       |  37%
graphviz-2.38        | 29.3 MB   | ####1      |  41%
graphviz-2.38        | 29.3 MB   | ####5      |  45%
graphviz-2.38        | 29.3 MB   | ####8      |  49%
graphviz-2.38        | 29.3 MB   | #####2     |  53%
graphviz-2.38        | 29.3 MB   | #####6     |  57%
graphviz-2.38        | 29.3 MB   | ######     |  60%
graphviz-2.38        | 29.3 MB   | ######4    |  64%
graphviz-2.38        | 29.3 MB   | ######7    |  68%
graphviz-2.38        | 29.3 MB   | #######1   |  72%
graphviz-2.38        | 29.3 MB   | #######5   |  76%
graphviz-2.38        | 29.3 MB   | #######9   |  79%
graphviz-2.38        | 29.3 MB   | ########3  |  83%
graphviz-2.38        | 29.3 MB   | ########7  |  87%
graphviz-2.38        | 29.3 MB   | #########  |  91%
graphviz-2.38        | 29.3 MB   | #########4 |  95%
graphviz-2.38        | 29.3 MB   | #########8 |  99%
graphviz-2.38        | 29.3 MB   | ########## | 100%

python-graphviz-0.16 | 20 KB     |            |   0%
python-graphviz-0.16 | 20 KB     | ########## | 100%
python-graphviz-0.16 | 20 KB     | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

In [19]:
!pip install pydotplus

Requirement already satisfied: pydotplus in c:\programdata\anaconda3\lib\site-packages (2.0.2)
Requirement already satisfied: pyparsing>=2.0.1 in c:\programdata\anaconda3\lib\site-packages (from pydotplus) (2.4.7)

kenapa memilih mengimplementasikan decesion tree karena baru mencoba decision tree dan mencoba untuk memprediksi keakuratannya